*{
  font-family: "Segoe UI", sans-serif;
}
.navbar-brand{
  font-size: 24px;
  font-weight: bold;
}
.navbar-brand img{
  width: 60px;
  transition: 0.3s;
}
.navbar-brand img:hover{
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 5px red);
}
.collapse a{
  color: white;
  font-size: 16px;
}
#sidebarToggle:checked ~ .sidebar {
  display: none;
}
#sidebarToggle:not(:checked) ~ .open-btn {
  display: none;
}
.sidebar {
  background-color: #f8f9fa;
  padding: 1rem;
  height: 100%;
}
.open-btn {
  margin-top: 1rem;
}
